body{
    font-family:"Playfair Display", serif;
    font-weight: 400;
    background-color: #3C3D37;
    color:#ECDFCC;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}
.Main-container{
    background-color: #697565;
    border-radius: 5px;;
    padding:20px;
    width: 100%;
    margin-left:20%;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
}

.Side-bar{
    background-color:#697565;
    width: 20%;
    min-height: 100vh;
    padding:20px;
    box-sizing: border-box;
    font: size 1.2em;
    border-radius: 15px;
    position: fixed;
    left:0;
    top:0;
    transform: none;
    border: 10px solid #3C3D37;
    
    transition:transform 0.3s ease;
}
.Side-bar.open{
    transform: translateX(0);
}
.Side-bar h1{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.side-bar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-bar-list li{
    margin:10px 0 ;
    width:100%;
}
.side-bar-list li a{
    text-decoration: none;
    color:#ECDFCC;
    background-color: #3C3D37;
    border-radius: 5px;;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    display:block;
    width:100%;
    box-sizing: border-box;
}
.side-bar-list li a:hover{
    color:#d4c8b7;
}
.hamburger{
    display: none;
    background:none;
    border:none;
    color: #ECDFCC;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2000;
    cursor: pointer;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .Side-bar{
        width:100%;
        min-height:100vh;
        transform:translateX(-100%);
        border-radius:0;
    }
    .Side-bar.open{
        transform: translateX(0);
    }
    .Main-container{
        margin-left: 0;
        width: 100%;
    }
}
#urlInput{
    width:80%;
    padding:10px; 
    font-size: 1em; 
    border-radius:5px;
    border: 1px solid #697565;
    background-color: #83917e;
}
#newTabButton{
    margin-top:10px;
    padding:10px 20px ; 
    font-size: 1em;
    background-color: #3C3D37;
    color: #ECDFCC;
    border: none;
    border-radius:5px;
    cursor: pointer;
}